/* src/pages/Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50;
  color: white;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar-logo {
  height: 40px; /* Adjust height as needed */
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-link {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1em;
  transition: color 0.3s;
}

.navbar-link:hover {
  color: #ecf0f1;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-auth-link {
  margin: 0 10px;
  font-size: 0.9em;
}

.navbar-dropdown {
  position: relative;
}

.shadow__btn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

.navbar-dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #34495e;
  min-width: 160px;
  z-index: 1000;
}

.navbar-dropdown-content button {
  display: block;
  width: 100%;
  padding: 10px;
  background: transparent;
  border: none;
  text-align: left;
  color: white;
  font-size: 0.9em;
}

.navbar-dropdown-content button:hover {
  background-color: #1abc9c;
}

.navbar-dropdown:hover .navbar-dropdown-content {
  display: block;
}
